:root {
    // Color
    --white-color:#fff;
    --title-color:#202020;
    --title-hero-color:#FDFDFD;
    --text-color:#000;
    --accent-color:#BAFFCD;
    --accent-color-dark:#295138;
    // --accent-color-dark:#295138ED;


    --section-pading:35px;

    // Font
    --title-font-size-desktop:44px;
    --title-font-size-tablet:44px;
    --title-font-size-mobile:44px;
    --title-font-size-xs:44px;

    --text-font-size-desktop:18px;
    --text-font-size-tablet:44px;
    --text-font-size-mobile:44px;
    --text-font-size-xs:44px;
}
